# === Python & Jupyter ===
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.virtualenv/
env/
venv/
.env

# === Data (No subir datasets pesados a Git) ===
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# === LaTeX (Basura de compilación) ===
report_latex/*.aux
report_latex/*.log
report_latex/*.toc
report_latex/*.synctex.gz
report_latex/*.nav
report_latex/*.out
report_latex/*.snm
report_latex/*.vrb
report_latex/*.fls
report_latex/*.fdb_latexmk

# === OS & IDEs ===
.DS_Store
.vscode/
.idea/
*.swp